@font-face {
  font-family: 'Montez';
  font-style: normal;
  font-weight: 400;
  src: local('Montez'), local('Montez-Regular'), url(http://themes.googleusercontent.com/static/fonts/montez/v3/Zfcl-OLECD6-4EcdWMp-Tw.woff) format('woff');
}

/*
 * Container
 */

body {
	color: #ccc;
	background-color: #333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 100%;
}

body.noScrollX {
	overflow-x: hidden;
}

body.noScrollY {
	overflow-y: hidden;
}

#container {
	width: 930px;
	margin: 20px auto 0;
}

/*
 * Header
 */

#header {
	width: 100%;
	padding: 4px;
	margin-bottom: 15px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: right;
}

#header a {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	padding: 0 4px;
	color: white;
}

#header a:hover {
	background-color: white;
	color: #333;
}

#header a.secondary_link {
	margin-left: 15px;
	color: #444;
}

/*
 * Sidebar
 */

#sidebar {
	float: left;
	width: 150px;
	height: 400px;
}

#years div {
	position: absolute;
	width: 100px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	color: #444;
}

#years div.name {
	width: 500px;
	color: #fff;
}

#years div.link {
	width: 500px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 0.7em;
	color: #fff;
}

#years div.link a {
	color: white;
	text-decoration: none;
}

#years div.link a:hover {
	font-weight: bold;
}

#years div.legend {
	width: 500px;
	font-size: 0.8em;
	color: #fff;
}

#years div.legend.green {
	color: #6f6;
}

#years div.legend.blue {
	color: #66f;
}

#years div.legend.red {
	color: #f66;
}

/*
 * Footer
 */

#footer {
	clear: both;
	font-size: 0.7em;
	text-align: right;
	margin: 1em auto;
	padding: 1.2em;
	width: 750px;
	border-top: 1px solid #999;
}

/*
 * Portfolio
 */

#portfolio {
	float: left;
	width: 780px;
	margin-bottom: 1.25em;
}

.column {
	float: left;
	text-align: center;
	width: 260px;
	position: relative;
}

.column .title {
}

.line {
	margin-top: 15px;
	width: 130px;
	border-right: 1px solid #999;
}

/*
 * Points
 */

.point {
	position: absolute;
	left: 125px;
	display: block;
	width: 0;
	padding: 5px;
	cursor: pointer;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	behavior:url(border-radius.htc);
}

.point.left {
	margin-left: -15px;
}

.point.right {
	margin-left: 15px;
}

.point.solo {
	background: #9f9;
	border: 1px solid #040;
}

.point.team {
	background: #99f;
	border: 1px solid #008;
}

.point.company {
	background: #f99;
	border: 1px solid #800;
}

.point.inprogress {
	border-style: dashed;
	cursor: auto;
}

.point.inprogress .callout {
	cursor: auto;
}

/*
 * Captions
 */

.point .caption {
	position: absolute;
	font-size: 0.8em;
	left: 20px;
	width: 120px;
	text-align: left;
}

.point.left .caption, .point.centerLeft .caption {
	left: -130px;
	text-align: right;
}

/*
 * Hover state
 */

.point.hover {
	left: 122px;
	padding: 8px;
	margin-top: -3px;
	border-width: 2px;
}

.point.hover .caption {
	margin: 3px;
	font-weight: bold;
}

/*
 * Callouts
 */

.callout {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background: #999;
	padding: 10px;
	display: block;
	position: absolute;
	width: 180px;
	z-index: 1;
	font-size: 0.8em;
	color: #333;
}

.callout .name {
	font-weight: bold;
}

.callout .description {
	margin-top: 3px;
	text-align: left;
}

.callout .description .wip {
	display: block;
	padding-top: 0.3em;
	font-size: 0.8em;
	font-style: italic;
}

.callout:before, .callout:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 5px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.calloutRight {
	margin-left: 20px;
}

.calloutRight:before {
	left: -10px;
	border-right: 10px solid #ddd;
}

.calloutRight:after {
	left: -9px;
	border-right: 10px solid #999;
}

.calloutLeft {
	left: -215px;
	margin-right: 20px;
}

.calloutLeft:before, .calloutLeft:before {
	right: -10px;
	border-left: 10px solid #ccc;
}

.calloutLeft:after, .calloutLeft:after {
	right: -9px;
	border-left: 10px solid #999;
}

/*
 * Favorites
 */

.point.left .star, .point.centerLeft .star {
	margin-right: 1em;
}

.point.right .star, .point.center .star {
	margin-left: 1em;
}

.star img {
	width: 16px;
	height: 16px;
	margin-bottom: 2px;
}

/*
 * Dialogs
 */

.ui-dialog-content {
	font-size: 0.8em;
}

.ui-dialog-content a:hover {
	text-decoration: none;
}

.ui-dialog-content img {
	display: block;
	margin: 5px auto;
	border: 0;
}

.ui-dialog-content img.floatRight {
	float: right;
	margin: 5px;
}

.quickInfo {
	margin-top: 1em;
	font-size: 0.8em;
}

/*
 * Special dialogs
 */

.dialogBlack, .dialogBlack .quickInfo, .dialogBlack a {
	color: #AAA !important;
	background-color: black !important;
}

.dialogMonospace, .dialogMonospace .quickInfo, .dialogMonospace a {
	font-family: monospace;
	font-size: 13px;
}

#dialogUntrusted a:hover pre {
	font-weight: bold;
}